.calculator-container {
  background-color: #696969;
  height: 72%;
  width: 36%;
  /* answer */
  min-height: 500px;
  margin-top: 48px;
  /* end answer */
}

/* answer */
@media screen and (max-width: 960px) {
  .calculator-container {
    width: 100%;
  }
}
/* end answer */
