.display-container {
  align-items: center;
  background: #1d1f1f;
  display: flex;
  height: 24%;
  padding: 0 4%;
  width: 92%;
}

.display-value {
  color: #23e000;
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  margin-left: auto;
  overflow: hidden;
}
